<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>404</title>
        <link rel="stylesheet" href="../static/404.css">
    </head>
    <body>
        <div id="body">
            <div id="headline">
                <div class="logo">
                    <img class="logo1" src="../static/3.PNG" alt="logo">
                    <p class="itemlogoname">ICSUCS</p>
                </div>
            </div>
            <div class="mainname">icsucs</div>
            <br>
            <div class="errormessage1">404</div>
            <div class="errormessage2">page missing</div>
        </div>
    </body>
</html>