<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>主界面</title>
        <link rel="stylesheet" href="../static/public.css">
    </head>
    <body>
        <div id="headline">
            <img class="logo1" src="../static/3.PNG" alt="logo">
            <div class="logoname"><p class="itemlogoname">ICSUCS</p></div>
        </div>
        <div class="main-content">
            <div id="fengexian">
                <h2>/login/主页面</h2>
            </div>
            <div class="containerl">
                <div class="blocktop"></div>
            </div>
            <div class="divider"></div>
            <div class="containerr">
                <div class="first-blog-top">First Blog</div>
                <div class="first-blog-content">
                    <div class="blog-text">欢迎来到ICSUCS,这里可以通过AI学习计算机。<br>Welcome to ICSUCS. This is a web for learning CS through AI. </div>
                </div>
            </div>
        </div>
        <div class="endblock"></div>
    </body>
</html>