<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/publichub.css">
    <title>publichub</title>
</head>
<body>
    <div id="headline">
        <img class="logo1" src="../static/3.PNG" alt="logo">
        <div class="logoname"><p class="itemlogoname">ICSUCS</p></div>
    </div>
    <form action="/public" method="post">
        <br>
        <button type="submit" class="surance">点击此按钮确认您是否为真人并跳转主页</button>
    </form>
</body>
</html>